.params-panel{
	width: 300px;
	border: 1px solid black;
	padding: 5px;
	margin: 3px;
	.param-properties{
		> div{
			display: flex;
			padding: 2px 0;
			> div {
				flex: 1;
			}
			> .value{
				> input {
					&[type=text], &[type=number]{
						width: 60px;
						text-align: right;
					}
					&[type=number]{
						&::-webkit-inner-spin-button, 
						&::-webkit-outer-spin-button {  
							opacity: 1;
						}
					}
				}
			}
		}
	}
}