.params-panel{
	width: 350px;
	border: 1px solid black;
	padding: 5px;
	margin: 3px;
	.param-properties{
		> .param-group{
			flex: 1;
			> .title{
				border-bottom: 1px solid grey;
				font-size: 1.1em;
				margin-bottom: 5px;
			}
			> .group{
				padding-bottom: 5px;
				> div{
					display: flex;
					> div {
						flex: 1;
					}
					> .name {
						padding-left: 10px;
					}
					> .value{
						> input {
							&[type=text], &[type=number]{
								width: 90px;
								text-align: right;
							}
							&[type=number]{
								&::-webkit-inner-spin-button, 
								&::-webkit-outer-spin-button {  
									opacity: 1;
								}
							}
						}
					}
				}
			}
		}
	}
}