.skill-panel{
	display: flex;
	margin: 3px;
	padding: 5px;
	border: 1px solid black;
	flex-wrap: wrap;
	> .skill-item{
		margin: 3px;
		display: flex;
		flex-direction: column;
		align-items: center;
		&:hover > .skill-icon{
			background-color:rgb(145, 177, 145);
		}
		> .skill-icon{
			width: 40px;
			height: 40px;
			border: 1px solid black;
			background-color: rgb(186, 229, 186);
			font-size: 0.8em;
			border-radius: 5px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		> .skill-name{
			font-size: 0.5em;
		}
	}
}