$font: "Source Code Pro", monospace;

*, *:before, *:after {
  box-sizing: border-box;
}
body{
	margin: unset;
}

button, input {
	font-family: $font;
}
#app{
	font-family: $font;
	padding: 3px;
	> div {
		display: flex;
		> .right-panel{
			flex: 1;
		}
	}
}